.footer-wrapper {
  background: $black;
  color: $white;
  text-align: center;
  h6 {
    text-transform: uppercase;
    letter-spacing: 6px;
  }

  .address, .copyright {
    position: absolute;
    bottom: rem-calc(30);
    p {
      font-size: rem-calc(14);
    }
  }
  .address {
    left: rem-calc(30)
  }
  .copyright {
    right: rem-calc(30)
  }
}
