.footer-wrapper {
  margin: rem-calc($global-margin*5) 0;

}

@media screen and (min-width: 40em) {
  .footer-wrapper {
    margin: 0;
  }
}

.contact-details {
  margin-bottom: rem-calc(30);
  .intro-heading {
    margin-bottom: rem-calc(20);
  }
  i {
    margin-right: rem-calc(10);
  }
  p {
    font-weight: 300;
    font-size: rem-calc(16);
    margin-bottom: 0;
  }
  a {
    color: $white;
  }
  p:last-child {
  margin-top: rem-calc(20);
  }
}

// Contact form

form {
  .form-title {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(30);
  }
  label {
    color: $white;
    text-transform: uppercase;
    font-size: rem-calc(12);
    .input-box {
      background: $black;
      border: none;
      border-bottom: 1px solid $dark-gray;
    }
    .input-box:focus {
      background: $white;
      color: $white;
    }
    textarea {
      background: $black;
    }
  }
}
