.footer-wrapper {
  position: relative;
  height: rem-calc(1090);
  background: $black;
  .btn-primary {
    margin-bottom: rem-calc(30);
  }
}

.footer-wrapper-02 {
  // padding: rem-calc(90) 0;
}

@media screen and (min-width: 40em) {
  .footer-wrapper-02 {
    padding: rem-calc(90) 0;
  }
}



.contact {
  margin-bottom: rem-calc(30);
  .intro-heading {
    margin-bottom: rem-calc(20);
  }
  .contact-details {
    margin-bottom: rem-calc(20);
    i {
      margin-right: rem-calc(10);
    }
    p {
      font-weight: 300;
      font-size: rem-calc(16);
      margin-bottom: 0;
    }
    a {
      color: $white;
    }
  }

  .social-footer {
    p {
      margin-bottom: 0;
    }
    font-size: rem-calc(18);
    i {
      color: $white;
    }
  }


}

// Contact form

form {
  .form-title {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(30);
    padding-top: rem-calc(90);
  }
  label {
    color: $white;
    text-transform: uppercase;
    font-size: rem-calc(12);
    .input-box, textarea {
      color: $white;
      background: #2a2a2a;
      border: none;
    }
    input,
    .input-box:focus,
    textarea:focus {
      background: transparent;
      color: $white;
    }
  }
}

// Back to top button
.back-to-top-btn,
.backToTop {
  position: absolute;
  bottom: rem-calc(30);
  right: rem-calc(30);
  cursor: pointer;
  width: rem-calc(40);
}

// Copyright
.copyright {
  position: absolute;
  bottom: rem-calc(30);
  left: rem-calc(30);
  p {
    margin: 0;
    padding: 0;
    font-size: rem-calc(12);
    color: $light-gray;
  }
}


@media screen and (min-width: 40em) {
  .footer-wrapper {
    height: 100%;
  }
  form {
    .form-title {
      padding-top: rem-calc(0);
    }
  }
}
