//   1. Logo
//   2. Toggle Menu
//   3. Overlay menu


// Logo
// ----

.logo-white,
.logo-black,
.qsol-symbol,
.logo-type-black {
  position: absolute;
  top: rem-calc(30);
  left: rem-calc(30);
  z-index: 500;
  width: rem-calc(180);
  img {
    width: 100%;
  }
}

.qsol-symbol {
  width: rem-calc(60);
}


// Toggle Menu
// ----------------
$bar-width: rem-calc(35);
$bar-height: rem-calc(1);
$bar-spacing: rem-calc(10);

.toggle-menu {
  position: absolute;
  z-index: 2000;
  top: rem-calc(30);
  right: rem-calc(30);
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
	height: $bar-height;
}

.bar:after,
.bar:before {
  transform: scaleX(0.65);
}

.bar {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(0, 0, 0, 1);
	transition: all 0ms 300ms;

  &.animate {
    background: rgba(0, 0, 0, 0);
  }
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: rgba(0, 0, 0, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: rgba(0, 0, 0, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

// reverse the color of bar on dark background
.bar.bar-reverse {
	background: rgba(255, 255, 255, 1);
  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.bar.bar-reverse:before,
.bar.bar-reverse:after {
  background: rgba(255, 255, 255, 1);
}


.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

// Overlay menu
// ------------

.overlay-nav {
  z-index: 3000;
  background: $white;
  position: fixed;
  transform: translateY(-100%);
  width: 100%;
  height: 100vh;
  top: 0;
  max-height: rem-calc(1350);
  min-height: rem-calc(550);
  h1 {
    text-align: center;
    font-size: rem-calc(30);
    font-weight: 400;
    a {
      color: $black;
    }
  }
  .overlay-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: rem-calc(180);
  }
  .overlay-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    position: relative;
  }
}

@media screen and (min-width: rem-calc(1080)) {
  .overlay-nav {
    .overlay-menu {
      flex-direction: row;
    }
  }
}

// Underline hover animation
.hover-underline-item {
  margin: 0 auto rem-calc(20);
  width: rem-calc(100);
  height: rem-calc(3);
  transform: scaleX(0);
  background: $black;
}
