// Hamburger Toggle

$bar-width: rem-calc(35);
$bar-height: rem-calc(1);
$bar-spacing: rem-calc(10);

.hamburger-menu {
  position: absolute;
  z-index: 150;
  top: rem-calc(30);
  right: rem-calc(30);
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
	height: $bar-height;
}

.bar {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

// Overlay menu
.overlay-nav {
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: green;
  max-height: rem-calc(1350);
  min-height: rem-calc(550);
  justify-content: space-between;
  h1 {
    text-align: center;
    font-size: rem-calc(20);
  }
}

// Learn more side button
.learn-more-wrapper {
  z-index: 150;
  position: absolute;
  bottom: rem-calc(60);
  // left: rem-calc(30);
  transform: rotate(90deg);
  span {
    color: $white;
    text-transform: uppercase;
    font-size: rem-calc(12);
    cursor: pointer;
  }

  span:hover {
    color: yellow;
  }
}
