<fieldset class="cell large-12 medium-12 enquiry-options">
  <legend>What can we help you with?</legend>
  <input type="radio" name="enquiry-opt" value="workplace-training" id="workplace-training" required><label for="workplace-training">Workplace Training</label>

  <input type="radio" name="enquiry-opt" value="bus-support" id="bus-support"><label for="bus-support">Business Support</label>

  <input type="radio" name="enquiry-opt" value="events" id="events"><label for="events">Events &amp; Sponsorship</label>

  <input type="radio" name="enquiry-opt" value="other" id="other"><label for="other">Others</label>
</fieldset>
