// align content on full page sections vertical center

.fp-center-vertical-wrap {
  height: 100%;
}

@media screen and (min-width: 40em) {
  .fp-center-vertical-wrap {
    height: 100%;
    margin: 0;
  }
}

.fp-center-vertical {
  display: flex;
  align-items: center;
  padding: calc(#{$global-padding} * 2);
  min-height: 100%;
}

@media screen and (min-width: 40em) {
  .fp-center-vertical {
    height: 100%;
  }
}

//background color;
.bg-black {
  background: $black;
  color: $white;
}

.bg-white {
  background: $white;
  color: $black;
}
