<section class="grid-container">
  <div class="grid-x">
    <div class="cell large-10 large-offset-1">
      <div class="grid-x grid-margin-x">
        <div class="cell large-4 aside-image fadeUp">
          <img src="assets/img/Business_test.jpg" alt="">
        </div>
        <div class="cell large-8 article-item">
          <p class="business-fadeUp">Business Support</p>
          <h1 class="business-fadeUp">launching a new business or become self-employed</h1>
          <p class="business-fadeUp">Welcome to the Electroneum Wallet Manager. Creating an account will automatically create you an Electroneum mobile wallet. You'll be able to access your mobile wallet via the Electroneum App on Android using the same log in details you use here.</p>
        </div>
      </div>
    </div>
  </div>
</section>
