<div class="bus-support-wrapper fp-center-vertical-wrap">
  <section class="grid-container fp-center-vertical">
    <div class="grid-x">
      <div class="cell large-10 large-offset-1">
        <div class="grid-x grid-margin-x bus-support">
          <div class="cell large-8 medium-8 article-item">
            <p class="busSupport-fadeUp intro-heading">Business Support Services</p>
            <h1 class="busSupport-fadeUp">Business Support</h1>
            <p class="busSupport-fadeUp">We have in-depth experience in providing secretariat, business management service and leadership development to companies, joint ventures, professional bodies, associations and industry organisations.</p>
            <div class="btn-secondary busSupport-fadeUp">
              <a href="business_support.html">Learn more</a>
            </div>
          </div>
          <div class="cell large-4  medium-4 aside-image busSupport-fadeUp">
            <img src="assets/img/workplace_test.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
