<div class="company-intro-wrapper fp-center-vertical-wrap">
  <div class="grid-container fp-center-vertical">
    <div class="grid-x">
      <div class="cell large-10 large-offset-1">
        <h5 class="text-center intro-heading">Who we are</h5>
        <p class="text-center"><strong>QSOL</strong> is a transitional / change consultancy specifically structured to help companies and organisations to achieve key outcomes which are vital to their business.</p>
        <p class="text-center">Our model has been referred to as <strong>‘embedded outsourcing’</strong> as we become, in effect, part of their team - answering queries on behalf of the organisation, managing the finances, as well as dealing with key stakeholders.</p>
        <p class="text-center">Our clients often describe us as the <strong>‘glue’</strong> that holds their organisation together.</p>
      </div>

      <div class="cell large-12">
        <div class="business-links-wrapper">
          <h6 class="text-center intro-heading">Our partners</h6>
          <div class="grid-container">
            <div class="grid-x grid-margin-x business-links">

              <div class="cell large-2 medium-4 small-6 link-logo">
                <a href="http://www.mbie.govt.nz/"><img src="assets/img/logo/MBIE.png" alt="Ministry of Business and Innovation logo"></a>
              </div>

              <div class="cell large-2 medium-4 small-6 link-logo">
                <a href="https://www.wecc.org.nz/"><img src="assets/img/logo/chamber-logo.png" alt="Wellington Chamber of Commerce logo"></a>
              </div>

              <div class="cell large-2 medium-4 small-6 link-logo">
                <a href="http://www.tpk.govt.nz/en"><img src="assets/img/logo/te_puni_kokiri.png" alt="Te Puni Kokiri logo"></a>
              </div>

              <div class="cell large-2 medium-4 small-6 link-logo">
                <a href="https://www.wellingtonnz.com/about-wreda/"><img src="assets/img/logo/wreda.jpg" alt="WREDA logo"></a>
              </div>
              <div class="cell large-2 medium-4 small-6 link-logo">
                <a href="https://wellington.govt.nz/"><img src="assets/img/logo/WCC.jpg" alt="Wellington City Council"></a>
              </div>
              <div class="cell large-2 medium-4 small-6 link-logo">
                <a href="https://www.teawe.maori.nz/"><img src="assets/img/logo/Te_Awe_logo.svg" alt="Te Awe logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  {{> scroll_down_button}}

  <div class="contact-footer">
    <ul>
      <li><a href="https://nz.linkedin.com/in/natalie-smith-00050341"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li>|</li>
      <li class="landing-contact">Contact</li>
    </ul>
  </div>

</div>
