<div class="company-intro-wrapper fp-center-vertical-wrap">
  <section class="grid-container fp-center-vertical">
    <div class="grid-x">
      <div class="cell large-10 large-offset-1">
        <h3 class="text-center intro-heading">Who we are</h3>
        <p class="text-center"><strong>Quadrant Solutions</strong> is a transitional / change consultancy specifically structured to help companies and organisations to achieve key outcomes which are vital to their business.</p>
        <p class="text-center">Our model has been referred to as <strong>‘embedded outsourcing’</strong> as we become, in effect, part of their team.</p>
        <p class="text-center">Our clients often describe us as the <strong>‘glue’</strong> that holds their organisation together.</p>
      </div>

      <div class="cell large-12">
        <div class="business-links-wrapper">
          <h6 class="text-center intro-heading">Clients we work with</h6>
          <div class="grid-container">
            <div class="grid-x grid-margin-x business-links">

              <div class="cell large-2 medium-4 small-6 link-logo">
                <img src="assets/img/logo/pipitea_marae_logo" alt="Pipitea Marae">
              </div>

              <div class="cell large-2 medium-4 small-6 link-logo">
                <img src="assets/img/logo/chamber-logo.png" alt="Wellington Chamber of Commerce logo">
              </div>

              <div class="cell large-2 medium-4 small-6 link-logo">
                <img src="assets/img/logo/wpbn-logo.jpg" alt="Wellington Pasifika Business Network logo">
              </div>

              <div class="cell large-2 medium-4 small-6 link-logo">
                <img src="assets/img/logo/nzmc_logo.jpg" alt="Maori Council logo">
              </div>
              <div class="cell large-2 medium-4 small-6 link-logo">
                <img src="assets/img/logo/NZFFA.jpg" alt="NZ Farm Forestry Association">
              </div>
              <div class="cell large-2 medium-4 small-6 link-logo">
                <img src="assets/img/logo/Te_Awe_logo.svg" alt="Te Awe logo">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  {{> scroll_down_button}}

  <div class="contact-footer">
    <ul>
      <li><a href="https://nz.linkedin.com/in/natalie-smith-00050341"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li>|</li>
      <li class="landing-contact">Contact</li>
    </ul>
  </div>

</div>
