<div class="events-wrapper-intro fp-center-vertical-wrap">
  <section class="grid-container fp-center-vertical">
    <div class="grid-x">
      <div class="cell large-10 large-offset-1">
        <div class="grid-x grid-margin-x events">
          <div class="cell large-8 medium-8 article-item">
            <p class="events-fadeUp intro-heading">solutions suite</p>
            <h1 class="events-fadeUp">Events</h1>
            <p class="events-fadeUp">We believe there is a better way to do just about everything in the event and experience arena. We want to challenge conformity and give ourselves the license to instigate the most innovative things out there to make your events and experiences amazing.</p>
            <div class="btn-secondary events-fadeUp">
              <a href="events_sponsorship.html">Learn more</a>
            </div>
          </div>
          <div class="cell large-4  medium-4 aside-image events-fadeUp">
            <img src="assets/img/events.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="scroll-down-wrapper">
    <div class="solution-arrow">
      <img src="assets/img/our-people.svg" alt="">
    </div>
    <button type="button" class="scroll-down"></button>
  </div>

  <div class="contact-footer">
    <ul>
      <li><a href="https://nz.linkedin.com/in/natalie-smith-00050341"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li>|</li>
      <li class="landing-contact">Contact</li>
    </ul>
  </div>

</div>
