<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-8 large-offset-2">

      <div class="contact-heading">
        <h6 class="text-center intro-heading">For more information or a quote contact</h6>
        <h3 class="text-center">Natalie (04) 388 2152 or natalie@qsol.co.nz</h3>
      </div>

      <!-- Contact form  -->
      <form>
        <div class="grid-container">
          <div class="grid-x grid-margin-x">

            <div class="cell large-6 medium-12">
              <label>Name
                <input class="input-box input-box-2" type="text">
              </label>

              <label>Email
                <input class="input-box input-box-2" type="text">
              </label>
            </div>

            <div class="cell large-6 medium-12">
              <label>Number
                <input class="input-box" type="text">
              </label>

              <label>What can we help you with?
                <select class="input-box">
                  <option value="workplace-training">Workplace Training</option>
                  <option value="bus-support">Business Support</option>
                  <option value="events">Events &amp; Sponsorship</option>
                  <option value="other">Other</option>
                </select>
              </label>
            </div>

            <div class="cell large-12">
              <label>
                Message
                <textarea class="input-box" placeholder="" rows="2"></textarea>
              </label>
            </div>

            <div>
              <input class="btn-primary" type="submit" value="Submit">
            </div>



          </div>
        </div>

      </form>

    </div>
  </div>
</div>




<div class="address">
  <p>Quadrant Solutions | PO Box 24107, Manners Mall Wellington, New Zealand.</p>
</div>

<div class="copyright">
  <p>&copy; 2018 Quadrant Solutions. All rights reserved.</p>
</div>
