<div class="footer-wrapper fp-center-vertical-wrap">
  <div class="grid-container fp-center-vertical">
    <div class="grid-x">
      <div class="cell large-8 large-offset-2">

          <div class="grid-x grid-margin-x">
              <form class="cell large-8">
                  <div class="form-title">
                    <h2 class="intro-heading">Say Hi</h2>
                    <p>Tell us more about your business</p>
                  </div>
                  <div class="grid-x grid-margin-x">
                    <div class="cell large-6 medium-6">
                      <label>Name
                        <input class="input-box" type="text">
                      </label>

                      <label>Email
                        <input class="input-box" type="text">
                      </label>
                    </div>

                    <div class="cell large-6 medium-6">
                      <label>Number
                        <input class="input-box" type="text">
                      </label>

                      <label>What are you enquiring about?
                        <select class="input-box">
                          <option value="0">... </option>
                          <option value="workplace-training">Workplace Training</option>
                          <option value="bus-support">Business Support</option>
                          <option value="events">Events &amp; Sponsorship</option>
                          <option value="other">Other</option>
                        </select>
                      </label>
                    </div>
                  </div>

                  <div class="cell large-12 medium-12">
                    <label>
                      Message
                      <textarea class="input-box" placeholder="" rows="3"></textarea>
                    </label>
                  </div>

                  <div class="cell large-8 medium-12">
                    <button class="btn-primary">
                      <a href="#">Submit</a>
                    </button>
                  </div>
              </form>

              <div class="cell large-4">
                <div class="contact">
                  <h6 class="intro-heading">For more information or a quote contact</h6>
                  <div class="contact-details">
                    <p><i class="fa fa-phone" aria-hidden="true"></i>(04) 388 2152</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i></i><a href="mailto:natalie@qsol.co.nz">natalie@qsol.co.nz</a></p>
                    <p><a href="https://nz.linkedin.com/in/natalie-smith-00050341"><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a></p>
                  </div>
                  <p class="postal-address"><strong>Quadrant Solutions</strong>
                    <br>
                    PO Box 24107, Manners Mall Wellington, New Zealand.
                  </p>
                </div>
              </div>
          </div>

      </div>
    </div>
  </div>

  <div class="back-to-top-btn">
    <img src="assets/img/up-arrow.svg" alt="Back to top arrow">
  </div>

  <div class="copyright">
    <p>&copy; 2018 Quadrant Solutions. All rights reserved.</p>
  </div>

</div>
