<div class="hero-landing-wrapper">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-8 large-offset-2 hero-content">
        <div class="hero-logo text-center">
          <div class="logo-symbol">
            <img src="assets/img/logo/qsol_logo.svg" alt="">
          </div>
            <div class="logo-type">
              <img src="assets/img/logo/qsol_logo_type.svg" alt="">
            </div>
        </div>
        <!-- <h5 class="text-center">Helping you achieve</h5> -->
      </div>
    </div>
  </div>

  <div class="learn-more-wrapper">
    <span>learn <strong>more</strong>
  </div>

  <div class="social-menu">
    <span><a href="">LinkedIn</a><a href="">Twitter</a></p></span>
  </div>
</div>
