<div class="hero-landing-wrapper">
  <div class="grid-container">

    <div class="grid-x">
      <div class="cell large-8 large-offset-2 hero-content">
        <div class="hero-logo text-center">

          <div class="logo-symbol">
            <img src="assets/img/logo/qsol_logo3.svg" alt="">
            <div class="horizontal-bar"></div>
          </div>

            <div class="logo-type">
              <img src="assets/img/logo/qsol_logo_type.svg" alt="">
            </div>
        </div>
      </div>
    </div>

    <div class="scroll-down-wrapper">
      <div class="solution-arrow">
        <img src="assets/img/learn_more.svg" alt="">
      </div>
      <button type="button" class="scroll-down-reverse"></button>
    </div>

    <div class="contact-footer-reverse">
      <ul>
        <li><a href="https://nz.linkedin.com/in/natalie-smith-00050341"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li>|</li>
        <li class="landing-contact">Contact</li>
      </ul>
    </div>

  </div>
</div>
