<div class="grid-container">
  <div class="grid-x">
    <div class="cell large-8 large-offset-2 hero-content">
      <div class="hero-logo text-center">
        <img src="assets/img/logo/qsol_logo.svg" alt="">
        <img src="assets/img/logo/qsol_logo_type.svg" alt="">
      </div>
      <!-- <h5 class="text-center">Helping you achieve</h5> -->
    </div>
  </div>
</div>

<div class="learn-more-wrapper">
  <span>learn <strong>more</strong>
</div>

<div class="social-menu">
  <ul class="social-menu-item">
    <li><a href=""><img src="assets/img/social/twitter.svg" alt="Twitter Logo"></a></li>
    <li><a href=""><img src="assets/img/social/linkedin.svg" alt="LinkedIn Logo"></a></li>
  </ul>
</div>
