<header>
  <nav>

    <div class="logo-white">
      <img src="assets/img/logo/logo_white.svg" alt="logo_white">
    </div>

    <div class="toggle-menu">
      	<div class="bar bar-reverse"></div>
    </div>

    <div class="overlay-nav">
      <div class="grid-x">
        <div class="cell large-4 medium-4 small-12">
          <h1>Workplace Training</h1>
        </div>
        <div class="cell large-4 medium-4 small-12">
          <h1>Business Support</h1>
        </div>
        <div class="cell large-4 medium-4 small-12">
          <h1>Events &amp; Sponsorship</h1>
        </div>
      </div>
    </div>

    <!-- Learn more navigation -->
    <div class="learn-more-wrapper">
      <span>learn <strong>more</strong>
    </div>

  </nav>
</header>
