<div class="overlay-nav">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-10 large-offset-1">
				<div class="grid-x overlay-menu" id="overlay-menu">
					<div class="cell large-4 medium-4 small-12">
						<h1 data-menuanchor="workplace-training" class="active"><a id="workplace-training">Workplace Training</a></h1>
					</div>
					<div class="cell large-4 medium-4 small-12">
						<h1 data-menuanchor="bus-support"><a id="bus-support">Business Support</a></h1>
					</div>
					<div class="cell large-4 medium-4 small-12">
						<h1 data-menuanchor="events"><a id="events">Events &amp; Sponsorship</a></h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="toggle-menu toggle-overlay">
			<div class="bar"></div>
	</div>

</div>
