<div class="overlay-nav">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-10 large-offset-1">
				<div class="grid-x overlay-menu" id="overlay-menu">

					<div class="cell large-4 medium-4 small-12">
						<h1 data-menuanchor="bus-support" class="menu-link"><a href="business_support.html" id="bus-support">Business Support</a></h1>
						<div class="hover-underline-item"></div>
					</div>

					<div class="cell large-4 medium-4 small-12">
						<h1 data-menuanchor="events" class="menu-link"><a href="events.html" id="events">Events &amp; Sponsorship</a></h1>
						<div class="hover-underline-item"></div>
					</div>

					<div class="cell large-4 medium-4 small-12">
						<h1 data-menuanchor="workplace-training" class="active menu-link"><a class="landing-contact" href="#" id="workplace-training">Workplace Training</a></h1>
						<div class="hover-underline-item"></div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="overlay-logo">
		<a href="index.html"><img src="assets/img/logo/qsol_logotype.svg" alt="Quadrant Solutions"></a>
	</div>

	<div class="toggle-menu toggle-overlay">
			<div class="bar"></div>
	</div>

</div>
