<div class="overlay-nav">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-10 large-offset-1">
				<div class="grid-x overlay-menu">
					<div class="cell large-4 medium-4 small-12">
						<h1>Workplace Training</h1>
					</div>
					<div class="cell large-4 medium-4 small-12">
						<h1>Business Support</h1>
					</div>
					<div class="cell large-4 medium-4 small-12">
						<h1>Events &amp; Sponsorship</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="toggle-menu toggle-overlay">
			<div class="bar"></div>
	</div>

</div>
