<div class="people-wrapper fp-center-vertical-wrap">
  <div class="grid-container fp-center-vertical">
    <div class="grid-x">
      <div class="cell large-8 large-offset-2">
        <h3 class="intro-heading text-center">Passion and quality</h3>
        <p class="people-intro text-center">Achieving the quality we strive for is truly a team effort, where every role is vital.</p>
        <div class="grid-x grid-margin-x">
          <div class="cell large-6">
            <div class="contact-item">
              <h6>Natalie Smith - <strong>Managing Director</strong></h6>
              <p>Translation of strategy to operations, organisational systems, infrastructure development, procurement, project manager, event manager and sales.</p>
            </div>

            <div class="contact-item">
              <h6>John Serepisos</h6>
              <p>Communications &amp; reputation management.</p>
            </div>

            <div class="contact-item">
              <h6>Jez Tavita</h6>
              <p>Funds &amp; sponsorship associate</p>
            </div>

            <div class="contact-item">
              <h6>Liang Zhong</h6>
              <p>Financial management capacity building
            </div>

            <div class="contact-item">
              <h6>Anne Parker</h6>
              <p>Technical writer, wordsmith, minute secretary.</p>
            </div>

          </div>
          <div class="cell large-6">

            <div class="contact-item">
              <h6>Richard Bradley</strong></h6>
              <p>Visioning, strategic planning, commercial structuring, leadership development, influence management.</p>
            </div>

            <div class="contact-item">
              <h6>Janek Chmielewski:</h6>
              <p>HR and operations, H&amp;S.</p>
            </div>


            <div class="contact-item">
              <h6>Lynell Huria</h6>
              <p>Trade mark protection, management &amp; enforcement, indigenous law and intellectual property issues.</p>
            </div>

            <div class="contact-item">
              <h6>Wayne Johnston</h6>
              <p>Events &amp; conferencing AV requirements.</p>
            </div>

            <div class="contact-item">
              <h6>Dr Ramona Tiatia</h6>
              <p>Research associate.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-down-wrapper">
    <div class="solution-arrow">
      <img src="assets/img/contact.svg" alt="">
    </div>
    <button type="button" class="scroll-down-reverse"></button>
  </div>

  <div class="contact-footer-reverse">
    <ul>
      <li><a href="https://nz.linkedin.com/in/natalie-smith-00050341"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li>|</li>
      <li class="landing-contact">Contact</li>
    </ul>
  </div>

</div>
