<div class="grid-container">
  <div class="grid-x">
    <div class="cell large-8 large-offset-2">
      <h5>Experience team to help</h5>
      <p>Our clients’ names speak better than hundreds of words in press releases. We are extremely proud to team up with you and breathe life into your projects.</p>
      <div class="grid-x grid-margin-x">
        <div class="cell large-6">
          <div class="contact-item">
            <h6>Natalie Smith - <strong>Managing Director</strong></h6>
            <p>Translation of strategy to operations, organisational systems, infrastructure development, procurement, project
            manager, event manager and sales</p>
          </div>

          <div class="contact-item">
            <h6>Richard Bradley</strong></h6>
            <p>Visioning, strategic planning, commercial structuring, leadership development.</p>
          </div>

          <div class="contact-item">
            <h6>John Serepisos</h6>
            <p>Communications &amp; reputation management.</p>
          </div>

          <div class="contact-item">
            <h6>Jez Tavita</h6>
            <p>Funds management</p>
          </div>

        </div>
        <div class="cell large-6">
          <div class="contact-item">
            <h6>Liang Zhong</h6>
            <p>Financial management capacity building
            Janek Chmielewski: HR and operations, H&amp;S.</p>
          </div>

          <div class="contact-item">
            <h6>Lynell Huria</h6>
            <p>Trade mark protection, management and enforcement, indigenous law and intellectual property issues.</p>
          </div>

          <div class="contact-item">
            <h6>Anne Parker</h6>
            <p>Technical writer, wordsmith, minute secretary.</p>
          </div>

          <div class="contact-item">
            <h6>Wayne Johnston</h6>
            <p>Events &amp; conferencing AV requirements.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
