<section class="grid-container">
  <div class="grid-x">
    <div class="cell large-10 large-offset-1">
      <div class="grid-x grid-margin-x">
        <div class="cell large-8 medium-8 article-item">
          <p class="workplace-fadeUp intro-heading">Workplace Training & Volunteer development</p>
          <h1 class="workplace-fadeUp">Workplace Training & Volunteer development</h1>
          <p class="workplace-fadeUp">We deliver courses to suit people who are working and want to upskill to supervisor or management roles or enhance their volunteer capacity. These courses interface within all industries.</p>
          <div class="btn-secondary workplace-fadeUp">
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="cell large-4  medium-4 aside-image workplace-fadeUp">
          <img src="assets/img/workplace_test.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
