<section class="grid-container">
  <div class="grid-x">
    <div class="cell large-10 large-offset-1">
      <div class="grid-x grid-margin-x">
        <div class="cell large-8 article-item">
          <p class="workplace-fadeUp intro-heading">Worlplace training</p>
          <h1 class="workplace-fadeUp">Improve staff engagement & outcomes </h1>
          <p class="workplace-fadeUp">Appealing wrap helps attract people and turn them into lifetime fans of a product. It requires as much effort as user experience. The Glyph team goes all out for a pixel-perfect visual design and clever space use.</p>
          <div class="btn-secondary">
            <a href="#">Learn more</a>
          </div>
        </div>
        <div class="cell large-4 aside-image workplace-fadeUp">
          <img src="assets/img/workplace_test.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
