{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

  <body>
    {{> body}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.min.js"></script>
    <script src="https://use.fontawesome.com/aab4e093dd.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
