.bus-support-wrapper {
  @include fp-responsive;
}

@media screen and (min-width: rem-calc(715)) {
  .bus-support-wrapper {
    .aside-image {
      margin-top: rem-calc(30);
    }
  }
}

// Business Support page
.workplace-banner {
  background: url(../img/banner_test.jpg) no-repeat;
  background-size: cover;
  @include fw-img-banner;
}

.bus-support-content {
  margin: rem-calc(60) 0;

  .bus-support-content-intro {
    h1 {
      font-weight: 400;
    }
    p {
      font-size: rem-calc(18);
      font-weight: 400;
    }
    p:nth-of-type(1) {
      margin-bottom: rem-calc(30);
    }
  }
}

.minute-secretary {
  background: lighten($brand-color, 37);
}

.admin-support {
  background: lighten($brand-color, 30);
}

.bussiness-support {
  background: lighten($brand-color, 37);
}
