.events-wrapper-intro {
  @include fp-responsive;
}

@media screen and (min-width: rem-calc(630)) {
  .events-wrapper-intro {
    .aside-image {
      margin-top: rem-calc(30);
    }
  }
}

// Events and Sponsorship page
// ---------------------------
.events-banner {
  background: url(../img/banner_test.jpg) no-repeat;
  background-size: cover;
  @include fw-img-banner;
}


.events-wrapper {
  .events-content-wrapper {
    margin: rem-calc(30) 0;
  }
}

@media screen and (min-width: 40em) {
  .events-wrapper {
    .events-content-wrapper {
      margin: rem-calc(60) 0;
    }
  }
}

.events-content-intro {
  p {
    font-size: rem-calc(18);
    font-weight: 400;
  }
  p:first-child {
    margin-bottom: rem-calc(30);
  }
}

.event-square {
  padding: rem-calc(30);
  background: $light-gray;
  margin: 0;
  h5 {
    text-transform: uppercase;
  }
  p, li {
    margin: 0;
    font-weight: 400;
    font-size: rem-calc(15);
  }
}

// Detailed planning square
.square-one {
  background: lighten($brand-color, 5);
}

.square-two {
  background: lighten($brand-color, 15);
}

.square-three {
  background: lighten($brand-color, 15);
}

.square-four {
  background: lighten($brand-color, 20);
}

.square-five{
  background: lighten($brand-color, 30);
}

.square-six{
  background: lighten($brand-color, 25);
  p {
    margin-bottom: rem-calc(5);
  }
}

.square-seven{
  background: lighten($brand-color, 15);
  p {
    margin-bottom: rem-calc(5);
  }
}
