.events-wrapper-intro {
  @include fp-responsive;
}

// Events and Sponsorship page
// ---------------------------
.events-banner {
  background: url(../img/banner_test.jpg) no-repeat;
  background-size: cover;
  @include fw-img-banner;
}

.event-card {
  padding: rem-calc(30);
  background: $light-gray;
  margin: 0;
  h5 {
    text-transform: uppercase;
    color: $dark-gray;
  }
}

.events-wrapper {
  .events-content-wrapper {
    margin: rem-calc(30) 0;
  }
}

@media screen and (min-width: 40em) {
  .events-wrapper {
    .events-content-wrapper {
      margin: rem-calc(60) 0;
    }
  }
}

// Detailed planning card
.event-card:nth-of-type(1) {
  background: $brand-color;
  color: $white;
  h5 {
    color: $white;
  }
}

// Strategic planning
.event-card:nth-of-type(2) {
  background: lighten($brand-color, 5);
  color: $white;
  h5 {
    color: $white;
  }
}
