.hero-landing-wrapper {
  background: $black;
  color: $white;
}


.hero-content {
  .hero-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      width: rem-calc(300);
    }
    img:last-child {
      margin-top: rem-calc(30);
    }
  }
  h5 {
    text-transform: uppercase;
    letter-spacing: rem-calc(5);
  }
}


// 'Learn more' side button
// ------------------------

.learn-more-wrapper {
  z-index: 150;
  position: absolute;
  bottom: rem-calc(60);
  transform: rotate(90deg);
  span {
    color: $white;
    text-transform: uppercase;
    font-size: rem-calc(12);
    cursor: pointer;
  }

  span:hover {
    color: $accent-color;
  }
}
