.hero-landing-wrapper {
  .hero-content {
    .hero-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .logo-symbol {
        width: rem-calc(200);
        img {
          width: 100%;
        }
      }
      .logo-type {
        margin-top: rem-calc(30);
        width: rem-calc(150);
        img {
          width: 100%;
        }
      }
    }
  }

}

@media screen and (min-width: 40em) {
  .hero-landing-wrapper {
    .hero-content {

      .hero-logo {
        .logo-symbol {
          width: rem-calc(300);
        }
        .logo-type {
          margin-top: rem-calc(30);
          width: rem-calc(250);
        }
      }

    }
  }
}


@media screen and (min-width: 64em) {
  .hero-landing-wrapper {
    .hero-content {

      .hero-logo {
        .logo-symbol {
          width: rem-calc(325);
        }
        .logo-type {
          margin-top: rem-calc(30);
          width: rem-calc(275);
        }
      }

    }
  }
}

// 'Learn more' side button
// ------------------------

.learn-more-wrapper {
  z-index: 150;
  position: absolute;
  bottom: rem-calc(60);
  transform: rotate(90deg);
  span {
    color: $white;
    text-transform: uppercase;
    font-size: rem-calc(12);
    cursor: pointer;
  }

  span:hover {
    color: $accent-color;
  }
}
