.people-wrapper {
  margin: rem-calc($global-margin*6) 0;
  height: rem-calc(1000);
  .people-intro {
    font-size: rem-calc(18);
    font-weight: 400;
    margin-bottom: rem-calc($global-margin*2);
  }
  .contact-item {
    h6 {
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 40em) {
  .people-wrapper {
    margin: 0;
    height: 100%;
  }
}
