.workplace-training-intro-wrapper {
  @include fp-responsive;

  .aside-image {
    margin-top: rem-calc(90);
  }
}

.workplace-training-wrapper {
  margin: rem-calc(100) 0;

}

.workplace-banner {
  background: url(../img/banner_test.jpg) no-repeat;
  background-size: cover;
  @include fw-img-banner;
}

.content-item {
  margin: rem-calc(60) 0;
  .content-item-img {
    img {
      padding: rem-calc(40);
    }
  }
}

.maori-management {
  p:nth-of-type(2) {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
