.workplace-training {
  background: $white;
  h4 {
    font-weight: 400;
    font-size: rem-calc(50);
  }
}


@media screen and (min-width: 40em) {
  .workplace-training {
    background: green;
  }
}

@media screen and (min-width: 64em) {
  .workplace-training {
    background: pink;
  }
}
